* {
  margin-top: 2px;
  box-sizing: border-box;
  align-items: center;
}

img {
  max-height: 400px;
}

.column {
  float: left;
  max-height: 600px;
}

.left {
  margin-left: 10px;
  min-width: 10vw;
}

.middle {
  min-width: 20vw;
}

.right {
  width: 66.5vw;
 overflow-x:scroll;
 white-space: nowrap;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
